<div class="col-md-6">
  <div class="post-container">
    <div class="post-content no-padding wisher">
      <% user = User.find_by(id: wish.user_id) %>
    <a href="/users/<%= user.id %>">
      <%= user.name %>
    </a>
    </div>
    <div class="post-content no-padding wish-title">
      <a href="/wishes/<%= wish.id %>">
        <%= wish.name %>
      </a>
    </div>
    <div class="post-content wish-content">
      <a href="/wishes/<%= wish.id %>">
        <p><%= wish.content %></p>
      </a>
    </div>
    <div class="post-atribut wish-footer">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <a href="/wishes/<%= wish.id %>"><span class="wish-price"><i class="fa fa-money wish-price"></i> $<%= wish.price %></span></a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <a href="/wishes/<%= wish.id %>/comments"><span class="wish-comments"><i class="fa fa-comments"></i> <%= wish.comments.count%></span></a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <span class="wish-views"><i class="fa fa-eye"></i> <%=wish.views%></span>
        </div>
      </div>
    </div>
  </div>
</div>