<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1 class="user_info-header">
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<div class="container lists-container">
  <div class="header">
    <h2>Wish Lists
      <% if @user.id == current_user.id%>
        <small><%= link_to "add list", new_list_path %></small></h2>
      <% end %>
  </div>
  <% List.all.where(user_id: @user.id).each do |list| %>
  <div>
    <div class="col-md-8">

        <%= link_to "#{list.title}", list_path(@user, list), class: "btn btn-default list-title"%>

   </div>
  <% if @user.id == current_user.id %>
    <div>
      <%= button_to "delete", list_path(@user, list), :method=>:delete , class: "btn btn-danger delete"%>
    </div>
  <%else%>
  <div class="btn btn-success delete follow">
    <small>bookmark</small>
  </div>
  <% end %>
</div>
  
  <% end %>
</div>